[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "directadjusting"]
	path = directadjusting
	url = https://github.com/finnishcancerregistry/directadjusting
[submodule "popEpi"]
	path = popEpi
	url = https://github.com/finnishcancerregistry/popepi
